{% extends "layout.html" %}
{% block content %}
    
<div class="parent">
    <div class="col-md-4" style="float:right; padding-top:100px">
        <div class="content-section">
        <div">
            <h3>Most requested</h3>
            <ul class="list-group">
                <li class="list-group-item list-group-item-light" style="text-decoration: underline">All online services</li>
                <li class="list-group-item list-group-item-light" style="text-decoration: underline">General income tax guide</li>
                <li class="list-group-item list-group-item-light" style="text-decoration: underline">Change your address</li>
                <li class="list-group-item list-group-item-light" style="text-decoration: underline">Disability tax credit</li>
                <li class="list-group-item list-group-item-light" style="text-decoration: underline">GST/HST credit</li>
                <li class="list-group-item list-group-item-light" style="text-decoration: underline">Forms and publications</li>
            </ul>
        </div>
        </div>
    </div>
    <div class="col-md-8" style="float:left">
        <h1 class="title" style="color: #1F2632; padding-top: 100px">Welcome to your account, Jessie<h1>
        <h6 class="text-body" style="color:black; padding-top: 30px">Deadline: The due date for filing individual tax returns was extended to June 1, 2020. Taxpayers will have until September 30, 2020 to pay any 2019 income tax amounts owed.</h6>
        <h4 class="text-body" style="color:black; padding-top: 30px; font-weight: bold"> Complete your tax return</h4>
        <h6 class="text-body" style="color:black; padding-top: 30px; font-weight: bold; text-decoration: underline"> Step 1: Provide and update your personal information</h6>
        <h6 class="text-body" style="color: green; font-weight: bold"> Complete</h6>
        <h6 class="text-body" style="color:black; padding-top: 30px; font-weight: bold; text-decoration: underline"> Step 2: Report your income</h6>


        <a href="upload"><button type="button" class="btn btn-danger" style="padding-left:20px; padding-right:20px" href="upload">Start</button></a>
        <h6 class="text-body" style="color:black; padding-top: 30px; font-weight: bold; text-decoration: underline"> Step 3: Claim your deductions, tax credits and expenses        </h6>
        <button type="button" class="btn btn-danger" style="padding-left:20px; padding-right:20px">Start</button>

    <div>
        
    

</div>
    


{% endblock content %}